* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* COMMON */

a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 70%;
    margin: 0 auto;
}

main.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    gap: 10px;
}


.text-product span:not(:last-of-type) {
    display: block;
}

.gap-10 {
    display: flex;
    gap: 10px;
}

div.logo img {
    width: 150px;
}

/* STYLE TEXT CARD */
    .brand_product {
        font-size: 12px;
    }

    .title_product {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .offer_price {
        color: red;
        font-size: 14px;
        font-weight: 600;
    }

    .first_price{
        color: black;
        font-size: 14px;
        text-decoration:line-through;
    }

/* /STYLE TEXT CARD */

/* HEADER STYLE */

header {
    background-color:#ff6900;
    color: #ffffff;
    box-shadow:0px 2px 20px 0px #1a1a1a;
    height: 70px;
    max-width: 100%;
    position:sticky;
    top: 0;
    z-index: 100;
}

nav {
    padding: 20px 0;
}

nav.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.container ul  {
    display: flex;
    list-style-type: none;
    gap:10px
}

nav.container ul > li > a  {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
}

/* INIO MAIN PAGINA */
/* /INIO MAIN PAGINA */


/* INIO GRIGLIA PAGINA */

.container-product {
    width: calc(100% / 3 - 7px);
    margin-bottom: 50px;

}

.container_price {
    display: flex;
    flex-direction: row;
}

.container-product img {
    width: 100%;
}

.text-product {
    display: flex;
    flex-direction: column;
}

.box_img {
    position: relative;
}

.img_hover {
    position:absolute;
    left: 0;
    z-index: -1;
}

.box_img:hover .card_img {
    opacity: -1;
}

/* /INIO MAIN PAGINA */

.offer {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 40px;
}


.offer > div {
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
    color: white;
}

.sconto {
    background-color:red;
}

.sostenibilita {
    background-color:green;
}

.like_btn {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px;
    background-color: white;
}

.like_btn:hover {
    color: red;
}



/* INIZIO FOOTER PAGINA */
footer {
    background-color:#1a1a1a ;
    color: white;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.footer-flex h4 {
    padding-bottom: 15px;
}

.social.gap-10 {
    justify-content: space-between
}

ul.gap-10 {
    font-size: 12px;
}
/* /INIZIO FOOTER PAGINA */