* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* COMMON */

a {
    color: #ffffff;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.gap-10 {
    display: flex;
    gap: 10px;
}

div.logo img {
    width: 150px;
}

/* HEADER STYLE */

header {
    background-color:#ff6900;
    color: #ffffff;
    height: 70px;
}

nav {
    padding: 20px 0;
}

nav.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.container ul  {
    display: flex;
    list-style-type: none;
    gap:10px
}

nav.container ul > li > a  {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
}


